@media screen and (max-width:700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    .btns{
        margin-top: 5px;
    }
}

@media screen and (min-width:100px) {
    .decricao{
        width: 50%;
    }
}